<!DOCTYPE html>
<html>
<head>
    <title>DHCP Clients</title>

    <!-- Include la libreria Grid.js -->
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>

    <style>
        .solidBorder {
            border: 1px solid;
        }
    </style>

    <script type="text/javascript">
        function base64ToHex(base64) {
            // Decode the base64 string into a binary string
            const binaryString = atob(base64);
            const bytes = new Uint8Array(binaryString.length);

            // Convert the binary string into an array of bytes
            for (let i = 0; i < binaryString.length; i++) {
                bytes[i] = binaryString.charCodeAt(i);
            }

            // Convert each byte to hexadecimal and concatenate
            const hexString = Array.from(bytes)
                .map(byte => byte.toString(16).padStart(2, '0')) // Convert each byte to hex
                .join(':'); // Join all hex values with ":" as a separator

            return hexString;
        }

        var grid = null;

        function initTable() {
            console.log("Initializing grid.js table");
            grid = new gridjs.Grid({
                columns: ['ID', 'Friendly Name', 'Hostname', 'IP Address', 'MAC Address', 'Expires at'], // Definisci le colonne
                data: [],
                search: true, // Abilita la ricerca
                pagination: {
                    limit: 20 // Imposta il limite di righe per pagina
                }
            }).render(document.getElementById('table-wrapper'));
        }

        document.addEventListener('DOMContentLoaded', initTable, false);


        // websocket

        var ws = new WebSocket("wss://{{.WebSocketHost}}/ws");

        ws.onopen = function(event) {
            console.log("Websocket started successfully");
        };

        ws.onclose = function(event) {
            console.log("Websocket connection closed", event.code, event.reason, event.wasClean)
        }

        ws.onerror = function(event) {
            console.log("Websocket connection closed due to error", event.code, event.reason, event.wasClean)
        }

        ws.onmessage = function(event) {

            try {
                var data = JSON.parse(event.data);
            } catch (error) {
                console.error('Error while parsing JSON:', error);
            }

            var message = document.getElementById("message");

            if (data === null) {
                console.log("Websocket connection: received an empty JSON");

                // clear the table
                grid.updateConfig({
                    data: []
                }).forceRender();

                message.innerText = "No DHCP clients so far.";

            } else if (!Array.isArray(data)) {
                console.error("Websocket connection: expecting a JSON array, received something else", event.data);

                // clear the table
                grid.updateConfig({
                    data: []
                }).forceRender();

                message.innerText = "Internal error. Please report upstream together with Javascript logs.";

            } else {
                console.log("Websocket connection: received " + data.length + " items from websocket");
                
                tableData = [];
                data.forEach(function(item, index) {
                    console.log(`Item ${index + 1}:`, item);

                    // append new row
                    tableData.push([index, item.FriendlyName, item.Lease.Hostname, item.Lease.IPAddr, base64ToHex(item.Lease.MacAddr), item.Lease.Expires]);
                });

                // rerender the table
                grid.updateConfig({
                    data: tableData
                }).forceRender();

                message.innerText = "A total of " + data.length + " DHCP clients are tracked by the DHCP server:";
            }
        };
    </script>
</head>
<body>
    <h1>DHCP Clients</h1>
    <p id="message"></p>

    <!-- the Grid.js table will be attached to this DIV element -->
    <div id="table-wrapper"></div>

    <p>Notes:</p>
    <ul>
    <li>An asterisk * in the 'Hostname' column indicates that the DHCP client did not advertise his own hostname to the DHCP server.</li>
    <li>The 'Friendly Name' column is populated using this addon configuration options.</li>
    </ul>
</body>
</html>
