<!DOCTYPE html>
<html>

<head>
    <title>DHCP Clients</title>

    <!-- add Grid.js library -->
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>

    <style>
        .solidBorder {
            border: 1px solid;
        }

        .monoText {
            font-family: monospace;
            background-color: lightgrey;
            padding: 3px;
        }

        .boldText {
            font-weight: bold;
        }
    </style>

    <script type="text/javascript">
        // these variables are rendered by the UI backend when serving this file to the client
        // and that's why they might be highlighted as invalid Javascript syntax
        var dhcpPoolSize = {{ .DhcpPoolSize }}
        var webSocketURI = {{ .WebSocketURI }}

        function base64ToHex(base64) {
            // Decode the base64 string into a binary string
            const binaryString = atob(base64);
            const bytes = new Uint8Array(binaryString.length);

            // Convert the binary string into an array of bytes
            for (let i = 0; i < binaryString.length; i++) {
                bytes[i] = binaryString.charCodeAt(i);
            }

            // Convert each byte to hexadecimal and concatenate
            const hexString = Array.from(bytes)
                .map(byte => byte.toString(16).padStart(2, '0')) // Convert each byte to hex
                .join(':'); // Join all hex values with ":" as a separator

            return hexString;
        }

        // Compare function for IP addresses
        function compareIPs(ip1, ip2) {
            const ipToNum = (ip) => {
                return ip.split('.').reduce((acc, octet) => {
                    return (acc << 8) + parseInt(octet, 10);
                }, 0);
            };

            const num1 = ipToNum(ip1);
            const num2 = ipToNum(ip2);

            if (num1 < num2) return -1;
            if (num1 > num2) return 1;
            return 0;
        }

        function formatTimestamp(unixTimestamp) {
            // Convert the timestamp to milliseconds and create new Date object
            const timestampInMillis = unixTimestamp * 1000;
            const date = new Date(timestampInMillis);

            // Format the date as a string (e.g., "YYYY-MM-DD HH:MM:SS")
            const formattedDate = date.toLocaleDateString(undefined, {
                year: 'numeric',
                month: '2-digit',
                day: '2-digit'
            }) + ' ' + date.toLocaleTimeString(undefined, {
                hour: '2-digit',
                minute: '2-digit',
                second: '2-digit'
            });

            return formattedDate;
        }

        function formatTimeLeft(unixTimestamp) {
            if (unixTimestamp == 0) {
                return "Never expires";
            }

            // Calculate the difference in milliseconds between the timestamp and the current time
            const now = new Date();
            const timestampInMillis = unixTimestamp * 1000;
            const timeDifference = timestampInMillis - now.getTime();

            // If the time has already passed, return 0
            if (timeDifference <= 0) {
                return "Already expired";
            }

            // Calculate the remaining time in hours, minutes, and seconds
            const hoursLeft = Math.floor(timeDifference / (1000 * 60 * 60));
            const minutesLeft = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));
            const secondsLeft = Math.floor((timeDifference % (1000 * 60)) / 1000);

            // Format the remaining time as a string "HH:MM:SS"
            return `${hoursLeft.toString().padStart(2, '0')}:${minutesLeft.toString().padStart(2, '0')}:${secondsLeft.toString().padStart(2, '0')}`;
        }

        var grid = null;

        function initTable() {
            console.log("Initializing grid.js table");
            grid = new gridjs.Grid({
                columns: [
                    { name: '#', sort: true, width: '10%' },
                    { name: 'Friendly Name', sort: true, width: '25%' },
                    { name: 'Hostname', sort: true, width: '25%' },
                    { name: 'IP Address', sort: { compare: compareIPs }, width: '10%' },
                    { name: 'MAC Address', sort: true, width: '10%' },
                    { name: 'Expires in', sort: true, width: '10%' },
                    { name: 'Static IP?', sort: true, width: '10%' }
                ],
                data: [],
                sort: true,
                search: true,
                resizable: true,
                pagination: { limit: 20 }
            }).render(document.getElementById('table-wrapper'));
        }

        document.addEventListener('DOMContentLoaded', initTable, false);


        // websocket

        var ws = new WebSocket(webSocketURI);

        ws.onopen = function (event) {
            console.log("Websocket started successfully");
        };

        ws.onclose = function (event) {
            console.log("Websocket connection closed", event.code, event.reason, event.wasClean)
        }

        ws.onerror = function (event) {
            console.log("Websocket connection closed due to error", event.code, event.reason, event.wasClean)
        }

        ws.onmessage = function (event) {

            try {
                var data = JSON.parse(event.data);
            } catch (error) {
                console.error('Error while parsing JSON:', error);
            }

            var message = document.getElementById("message");

            if (data === null) {
                console.log("Websocket connection: received an empty JSON");

                // clear the table
                grid.updateConfig({
                    data: []
                }).forceRender();

                message.innerText = "No DHCP clients so far.";

            } else if (!Array.isArray(data)) {
                console.error("Websocket connection: expecting a JSON array, received something else", event.data);

                // clear the table
                grid.updateConfig({
                    data: []
                }).forceRender();

                message.innerText = "Internal error. Please report upstream together with Javascript logs.";

            } else {
                console.log("Websocket connection: received " + data.length + " items from websocket");

                tableData = [];
                dhcp_addresses_used = 0;
                data.forEach(function (item, index) {
                    console.log(`Item ${index + 1}:`, item);

                    if (item.is_inside_dhcp_pool)
                        dhcp_addresses_used += 1;

                    static_ip_str = "NO";
                    if (item.has_static_ip)
                        static_ip_str = "YES";

                    // append new row
                    tableData.push([index + 1,
                        item.friendly_name, item.lease.hostname, item.lease.ip_addr,
                        item.lease.mac_addr, formatTimeLeft(item.lease.expires), static_ip_str]);
                });

                // rerender the table
                grid.updateConfig({
                    data: tableData
                }).forceRender();

                // compute DHCP pool usage
                var usagePerc = 0
                if (dhcpPoolSize > 0) {
                    usagePerc = 100 * dhcp_addresses_used / dhcpPoolSize

                    // truncate to only 1 digit accuracy
                    usagePerc = Math.round(usagePerc * 10) / 10
                }

                // update the message
                message.innerText = "A total of " + data.length + " DHCP clients are tracked by the DHCP server; " + dhcp_addresses_used + " are within the DHCP pool. DHCP pool usage is at " + usagePerc + "%.";
            }
        };
    </script>
</head>

<body>
    <h1>DHCP Clients</h1>

    <p id="dhcp_range">The configured DHCP range is: <span class="monoText">{{ .DhcpStartIP }} - {{ .DhcpEndIP
            }}</span>.</p>

    <p id="message"></p>

    <!-- the Grid.js table will be attached to this DIV element -->
    <div id="table-wrapper"></div>

    <p><span class="boldText">Notes:</span></p>
    <ul>
        <li>An asterisk * in the 'Hostname' column indicates that the DHCP client did not advertise his own hostname to
            the DHCP server.</li>
        <li>The 'Friendly Name' column is populated using the <span class="monoText">dhcp_clients_friendly_names</span>
            addon configuration.</li>
        <li>The 'Hostname' column is populated with the hostname advertised by the DHCP client.</li>
        <li>The 'IP Address' column might contain IP addresses located outside the DHCP range in the case 
            the DHCP client has a special IP reservation assigned via the 
            <span class="monoText">ip_address_reservations</span> addon configuration.</li>
        <li>The 'Expires' column contains the count down to the next DHCP lease renewal formatted as 
            <span class="monoText">HH:MM::SS</span>.</li>
    </ul>
</body>

</html>