.solidBorder {
    border: 1px solid;
}
.monoText {
    font-family: monospace;
    background-color: lightgrey;
    padding: 3px;
}
.boldText {
    font-weight: bold;
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 16px 30px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    font-size: 12px;
    font-weight: 600;
    padding: 10px;
    background: transparent;
    outline: transparent;
    border: transparent;
    color: #101927;
    transition: 300ms all ease-in-out;
}
@media only screen and (max-width: 576px) {
    .btn {
        padding: 10px 8px;
   }
}
.btn.active {
    color: #2955ac;
    position: relative;
}
.btn.active::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #2955ac;
    position: absolute;
    bottom: -2px;
    left: 0;
}
.tabs {
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 32px 32px 10px 32px;
}
.tabs__pills {
    width: fit-content;
    border-bottom: 2px solid rgba(16, 25, 39, 0.2);
}
.tabs__panels {
    padding: 20px 0;
}
.tabs__panels > div {
    width: 100%;
    display: none;
    gap: 20px;
}
.tabs__panels > div > figure {
    max-width: 400px;
    width: 100%;
    flex-shrink: 0;
}
@media only screen and (max-width: 992px) {
    .tabs__panels > div > figure {
        margin: 0 auto;
   }
}
.tabs__panels > div > figure img {
    width: 100%;
    display: block;
}
.tabs__panels > div > div > h4 {
    font-size: 24px;
    margin: 10px 0;
}
.tabs__panels > div > div > p {
    line-height: 1.8;
}
.tabs__panels > div.active {
    display: flex;
}
@media only screen and (max-width: 978px) {
    .tabs__panels > div.active {
        flex-direction: column;
   }
}
